.jumbotron{
    background-color:turquoise;
    color: gray;
    margin-top: 50px;
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(197, 194, 194);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-info-details{
    flex: 1 150px;
    margin-top: 10px;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}