@turquoise: #40e0d0;

.margin(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
    
}

.jumbotron{
    background-color:@turquoise;
    color: gray;
    .include margin(50px, 0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: turquoise;
    .include margin(10px, 0px);
}

.card-info-details{
    flex: 1 150px;
    .include margin(10px, 0px);
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}