.jumbotron {
  background-color: #40e0d0;
  color: gray;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: turquoise;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-info-details {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
